@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 50%;
  min-height: 100%;
  background-color: #f5f5f5;
}

.title {
  font-size: 6.25%;
  line-height: 1.1;
  color: #7db6eb;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 20%;
  /* z-index: 9999; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.189);
  letter-spacing: -0.2%;
  margin-left: 3%;
}

.baby-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 5%;
  width: 10%;
  height: 10%;
  margin-left: 12%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 34%;
  size: 500%;
}

.change-language {
  background-color: #b1d1ef;
  color: #4d92d3;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 6.25%;
  margin-right: 8.33%;
  font-size: 150%;
  border-radius: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1.67%;
  padding-bottom: 1.67%;
}

.instructions-button {
  background-color: #b1d1ef;
  color: #4d92d3;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 5.2083%;
  right: 0;
  margin-top: 0%;
  margin-right: 3.125%;
  font-size: 1.5625%;
  border-radius: 2.0833%;
  padding-left: 2.0833%;
  padding-right: 2.0833%;
  padding-top: 0.5208%;
  padding-bottom: 0.5208%;
}

.description-english-line1 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 6.25vw; /* equivalent to 48px */
  margin-right: 7.5%; /* equivalent to 3em */
  padding-right: 7.5%; /* equivalent to 3em */
  margin-bottom: 0%;
}

.description-english-line2 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 6.25vw; /* equivalent to 48px */
  margin-right: 7.5%; /* equivalent to 3em */
  padding-right: 7.5%; /* equivalent to 3em */
  margin-top: 0%;
  margin-bottom: 0%;
}

.description-spanish-line1 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 3.2vw; /* equivalent to 48px */
  margin-right: 4.8%; /* equivalent to 3em */
  padding-right: 4.8%; /* equivalent to 3em */
  margin-bottom: 0%;
  margin-top: 0%;
}

.description-spanish-line2 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 3.2vw; /* equivalent to 48px */
  margin-right: 4.8%; /* equivalent to 3em */
  padding-right: 4.8%; /* equivalent to 3em */
  margin-top: 0;
  margin-bottom: 0;
}

.star1 {
  position:static;
  width: 9%;
  height: auto;
  top: 5%;
  right: 17%;
  z-index: 9999;
}

.star2 {
  position: static;
  width: 14%;
  height: auto;
  top: 3%;
  right: 5%;
  z-index: 9999;
}

.star1:hover {
  transform: rotateY(180deg);
}

.star2:hover {
  transform: rotateY(180deg);
}

.girl-pointing {
  position: absolute;
  width: 23%;
  height: auto;
  top: 35%;
  right: 13%;
  z-index: 9999;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4% 8%;
  font-size: 100%;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 0.4rem auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}