@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.title {
  font-size: 60px;
  line-height: 1.1;
  color: #7db6eb;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 20em;
  /* z-index: 9999; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.189);
  letter-spacing: -2px;
  margin-left: 3em;
}

.baby-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 5em;
  width: 75px;
  height: 75px;
  margin-left: 6em;
  margin-right: 50px;
  margin-top: 2.5em;
  margin-bottom: 34px;
  size: 500%;
}

.change-language {
  background-color: #b1d1ef;
  color: #4d92d3;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2.4em;
  margin-right: 50px;
  font-size: 1.5em;
  border-radius: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.instructions-button {
  background-color: #b1d1ef;
  color: #4d92d3;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 5em;
  right: 0;
  margin-top: 0em;
  margin-right: 50px;
  font-size: 1.5em;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description-english-line1 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 48px;
  margin-right: 5%;
  padding-right: 3em;
  margin-bottom: 0px;
}

.description-english-line2 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 48px;
  margin-right: 3em;
  padding-right: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.description-spanish-line1 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 48px;
  margin-right: 3em;
  padding-right: 3em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.description-spanish-line2 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 48px;
  margin-right: 3em;
  padding-right: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star1 {
  position: relative;
  width: 10%;
  height: auto;
  left: -50%;
  margin-left: 25%;
  margin-top: -50%;
  margin-bottom: -10%;
  z-index: 9999;
}

.star1:hover {
  transform: rotateY(180deg);
}

.star2 {
  position: relative;
  width: 14%;
  height: auto;
  /* flex-shrink: 0; */
  /* left: 0; */
  /* top: 63%; changed from top: 1; */
  margin-left: 50%;
  margin-top: -5%;
  margin-bottom: 3%;
  z-index: 9999;
}

.star2:hover {
  transform: rotateY(180deg);
}

.girl-pointing {
  position: absolute;
  width: 22%;
  height: auto;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 5%;
  z-index: 9999;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}