@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.title {
  font-size: 60px;
  line-height: 1.1;
  color: #7db6eb;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 20em;
  /* z-index: 9999; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.189);
  letter-spacing: -2px;
  margin-left: 3em;
}

.baby-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 5em;
  width: 75px;
  height: 75px;
  margin-left: 6em;
  margin-right: 50px;
  margin-top: 2.5em;
  margin-bottom: 34px;
  size: 500%;
}

.change-language {
  background-color: #b1d1ef;
  color: #4d92d3;
  font-family: "Patrick Hand", cursive;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2.4em;
  margin-right: 50px;
  font-size: 1.5em;
  border-radius: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.instructions-button {
  position: fixed;
  background-color: #f7d6a6;
  color: #3db29f;
  font-family: "Patrick Hand", cursive;
  bottom: 5em;
  right: 0;
  transform: translateX(30%);
  transform: translateY(270%);
  margin-top: 1em;
  font-size: 2em;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.7em;
  margin-right: 0.2em;
}

.learn-button {
  position:fixed;
  background-color: #f7d6a6;
  color: #3db29f;
  font-family: "Patrick Hand", cursive;
  bottom: 5em;
  right: 0;
  transform: translateX(30%);
  transform: translateY(270%);
  margin-top: 1em;
  font-size: 2em;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.7em;
}

.about-button {
  position:fixed;
  background-color: #f7d6a6;
  color: #3db29f;
  font-family: "Patrick Hand", cursive;
  bottom: 5em;
  right: 0;
  transform: translateX(30%);
  transform: translateY(270%);
  margin-top: 2em; /* Updated margin-top value */
  font-size: 2em;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-bottom: 0.7em; */
  margin-right: 0.2em;
}

button.learn-button, .about-button, .instructions-button {
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  /* bottom: 5em; */
  position: relative;
  padding-left: 40px;
  /* cursor: pointer; */
  /* transition: border-color 0.25s; */
}

.description-english-line1 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 48px;
  margin: 0;
  bottom: 10em;
  /* margin-right: 3em; */
  /* padding-right: 3em; */
  /* top: 5px; */
  /* margin-bottom: -5%;
  margin-top: 2%; */
}

.description-english-line2 {
  font-family: "Patrick Hand", cursive;
  color: #ff7777;
  font-size: 48px;
  margin: 0;
  bottom: 8em;
  /* margin-right: 3em; */
  /* padding-right: 3em; */
  /* top: 9px; */
}

.description-spanish-line1 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 48px;
  margin: 0;
  bottom: 8em;
  /* margin-right: 3em; */
  /* padding-right: 3em; */
  /* top: 9px; */
}

.description-spanish-line2 {
  font-family: "Patrick Hand", cursive;
  color: #f2a661;
  font-size: 48px;
  margin: 0;
  bottom: 8em;
  /* margin-right: 3em; */
  /* padding-right: 3em; */
  /* top: 5px; */
}

/* p .description-english-line1, .description-english-line2, .description-spanish-line1, .description-spanish-line2 {
  position: fixed;
  bottom: 10px;
  margin: 0;
} */
/* 
div.description {
  margin: 0;
} */

/* STARS */
.star1 {
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 20%;
  height: auto;
}

.star1:hover {
  transform: rotateY(180deg);
}

.star2 {
  position: absolute;
  left: 20%;
  bottom: 5%;
  width: 10%;
  height: auto;
}

.star2:hover {
  transform: rotateY(180deg);
}

.star2-1 {
  position: absolute;
  left: 50%;
  top: 37em;
  width: 13%;
  height: auto;
}

.star2-1:hover {
  transform: rotateY(180deg);
}

.star2-2 {
  position: absolute;
  right: 13%;
  bottom: -15%;
  width: 17%;
  height: auto;
}

.star2-2:hover {
  transform: rotateY(180deg);
}

.star2-3 {
  position: absolute;
  right: -5%;
  bottom: 5%;
  width: 19%;
  height: auto;
  rotate: 45deg;
}

.star2-3:hover {
  transform: rotateY(180deg);
}
.star3 {
  position: absolute;
  width: 10%;
  height: auto;
  bottom: 25em;
  left: 10em;
  /* flex-shrink: 0; */
  /* left: 0; */
  /* top: 63%; changed from top: 1; */
  /* margin-left: -800px;
  margin-top: -880px;
  margin-bottom: 300px; */
}

.star4 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.star5 {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 12%;
  height: auto;
}

.star6 {
  width: 8%;
  height: auto;
  position: absolute;
  top: 25%;
  right: 15%;
}

.star7 {
  position: absolute;
  bottom: 73px;
  left: 25px;
  width: 22%;
  height: auto;

  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Use 'linear' for a smooth, constant speed rotation */
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.girl-pointing {
  position: absolute;
  width: 23%;
  height: auto;
  bottom: 18%;
  right: 8%;

  /* margin-top: -50%;
  margin-left: 3%;
  margin-bottom: 5%; */
  z-index: 0;
}

.girl-megaphone {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 35%;
  left: 19%;
  transform: translateY(-50%);
  animation: shake 0.9s;
  animation-iteration-count: infinite;
}
/* margin-left: -680px;
  margin-bottom: -160px;
  margin-top: 50px;
  z-index: 0; */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

h2 {
  color: #1a1a1a;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* list */
#instruction-list {
  position:relative;
  font-family: "Patrick Hand", cursive;
  font-size: 150%;
  bottom: 4em;
  left: 8em;
  color: #4d92d3;
  text-align: left;
  /* margin-left: 100px;
  margin-bottom: 50px;
  margin-top: -180px; */
}

/* bullet points */
.star {
  list-style-type: none;
  background-image: url("./assets/star.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left;
  padding: 10px 48px;
}

li {
  font-size: 115%;
}

/* list header */
.how-works {
  list-style-type: none;
  font-family: "Patrick Hand", cursive;
  font-size: 250%;
  color: #4d92d3;
  margin-top: 100px;
  margin-bottom: 5px;
}
