h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 300%;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-family: "Patrick Hand", cursive;
  color: #c2bfbf;
  font-size: 2em;
  margin-top: 0;
}

.input-box {
  font-family: "Patrick Hand", cursive;
  font-size: 1.5em;
  color: #757575;
  background-color: #e0e0e0;
  border-color: #5d5d5d;
  border-radius: 10px;
  margin-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

::placeholder {
  color: #c2bfbfb9;
  opacity: 1; /* Firefox */
}

.submit-button {
  display: block;
  margin: 0 auto; /* center horizontally */
  margin-top: 1em;
}

.girl-sitting {
  position: relative;
  width: 30%;
  height: 30%;
  margin-top: -10%;
  margin-left: 3%;
  /* margin-bottom: 5%; */
  z-index: 0;
  right: 35%;
}

.lstar1 {
  position: relative;
  top: -7em;
  right: -45%;
  width: 15%;
  height: 15%;
  z-index: 2;
  rotate: 45deg;
}

.lstar2 {
  position: relative;
  top: -12em;
  right: -50%;
  width: 18%;
  height: 18%;
  z-index: 3;
}

.lstar3 {
  position: relative;
  top: -25em;
  right: -18%;
  width: 20%;
  height: 20%;
  z-index: 3;
  rotate: 90deg;
}
