h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 300%;
  margin-bottom: 0;
  margin-top: 1em;
}

#margot-question {
  color: #4d92d3;
}

#startover-button {
  margin-top: 2em;
  background-color: #019798;
}

p {
  font-family: "Patrick Hand", cursive;
  color: #c2bfbf;
  font-size: 2em;
  margin-top: 0;
}

.input-box {
  font-family: "Patrick Hand", cursive;
  font-size: 1.5em;
  /* color: #79b9f4;  */
  background-color: #b1d1ef;
  border-color: #5d5d5d;
  border-radius: 10px;
  margin-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

::placeholder {
  color: #98b9d8;
  opacity: 1; /* Firefox */
}

.submit-button {
  display: relative;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #b1d1ef;
  color: #4d92d3;
}

submit-button:hover {
  border-width: 1px;
  transition: 2s;
  border-color: #646cff;
}

.girl-sitting {
  position: relative;
  width: 300px;
  height: auto;
  z-index: 0;
  left: -29%;
  bottom: 30em;
}

.starCount {
  position: relative;
  bottom: 18em;
  right: 33%;
  width: 25%;
  height: auto;
}

.starCountNum {
  position: relative;
  left: 4%;
  bottom: 9.5em;
  width: 25%;
  height: auto;
  z-index: 9999;
  color: black;
  font-style: oblique;
  font-size: 50px;
}

.lstar1 {
  bottom: 750px;
  left: 15%;
  width: 15%;
  height: auto;
  z-index: 2;
  rotate: 45deg;
}

.lstar2 {
  bottom: 960px;
  left: 46%;
  width: 18%;
  height: auto;
  z-index: 0;
}

.lstar3 {
  top: -720px;
  left: 9%;
  width: 25%;
  height: auto;
  z-index: 3;
  rotate: 90deg;
}

.lstar1,
.lstar2,
.lstar3 {
  position: relative;
  /* Other properties... */

  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Use 'linear' for a smooth, constant speed rotation */
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
